/*kontakt forma*/
input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 2px solid rgba(73,155,234,1);
    border-radius: 6px; 
    box-sizing: border-box;
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical;
    }
  input[type=submit] {
    background-color: rgba(73,155,234,1);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  input[type=submit]:hover {
    background-color: white;
    color:rgba(73,155,234,1);
    
  }
  .container {
    border-radius: 5px;
    padding: 50px;
    margin-bottom: 50px;
  }